.decor-wrapper {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  > .decor-container {
    position: relative;
    height: 100%;
    width: 100%;
    > * {
      position: absolute;
      &.glow {
        @media screen and (max-width: 960px) {
          display: none;
        }
        top: -38rem;
        left: -42rem;
        position: absolute;
        z-index: -1;
        overflow: visible;
        path,
        g,
        rect {
          overflow: visible;
        }
      }
    }
  }
}
