{% assign taskLink = "/" | append: foundTheme %}
{% assign partialLink = taskLink | append: "/" | append: pageId %}
{% assign dropsLink = partialLink | append: "/drops" %}
{% assign commentLink = dropsLink | append: "/comment" %}

{% render './partials/head.liquid'
  , open: open
  , themeColor: foundTheme
  , scripts: scripts
  , styles: styles %}
{% render './partials/header/title-header.liquid' %}
<main>
  {% render './partials/dialog/comment-dialog.liquid'
    , link: dropsLink
    , closeLink: dropsLink 
    , error: error
    , text: "Plaats bericht"
    , conceptText: conceptText
    , conceptId: conceptId
    , exerciseId: exerciseId %}
  <h2 data-label="newest">Nieuwste berichten</h2>
  {% for drop in drops reversed %}
    {% render "./partials/card/drop-card.liquid"
      , drop: drop
    %}
  {% else %}
    <p>Er zijn nog geen berichten gepost.</p>
  {% endfor %}
  <div class="drop-container">
    {% render './partials/btn/regular-btn.liquid'
      , text: "Klaar"
      , classes: "opener drop-btn"
      , link: commentLink
    %}
  </div>
</main>
{% render './partials/footer.liquid' %}