{% render './partials/head.liquid' %}
<main>
  {% render './partials/btn/regular-btn.liquid'
    , text: "Concept opslaan"
    , link: "/red"
    , classes: "ghost"
    , saveIcon: true %}
  {% render './partials/btn/regular-btn.liquid'
    , text: "Concept opslaan"
    , link: "/blue"
    , classes: "ghost fit-btn"
    , saveIcon: true %}
  {% render './partials/btn/regular-btn.liquid'
    , text: "Geen icon"
    , classes: "ghost"
    , saveIcon: false %}
  {% render './partials/btn/regular-btn.liquid'
    , text: "Default"
    , classes: ""
    , saveIcon: false %}
  {% render './partials/btn/regular-btn.liquid'
    , text: "Linkje"
    , link: "/clean"
    , classes: ""
    , saveIcon: false %}
    <form action="/clean" method="POST">
  <button type="submit" hidden>Clean Concepts</button>
</form>
</main>
{% render './partials/footer.liquid' %}