{% render './partials/head.liquid'
  , themeColor: theme
  , title: title
  , id: id
  , scritps: scripts
  , styles: styles %}
{% render './partials/header/header.liquid'
  , title: title
  , tasks: tasks
  , pageType: id %}
<main>
  <ul class="card-container">
{% for exercise in exercises %}
  {% assign link = "/" | append: theme | append: "/" | append: forloop.index %}
  <li class="card-item">
    {% render './partials/card/exercise-card.liquid'
      , pageType: id
      , exercise: exercise
      , link: link
    %}
  {% endfor %}
    </li>
  </ul>
</main>
{% comment %} <img src="assets/decorative/Mesh-Grad-{{id}}.svg" alt="blur"> {% endcomment %}
{% render './partials/footer.liquid' %}