.regular-btn{
    display: flex;
    align-items: center;
    gap: .625rem;
    background-color: var(--theme);
    padding: .5rem 1.5625rem;
    border-radius: 1.75rem;
    background: var(--theme);
    border: none;
    transition: .3s ease-in-out;
    cursor: pointer;

    &.filter{
        padding: .5rem 1rem;
        background: var(--off-black);
        font-weight: 400;
    }

    &.ghost{
        padding: .75rem 1.125rem;
        background: transparent;
        border: 1px solid var(--theme);
        font-weight: 400;
    }

    &.fit-btn{
        width: fit-content;
    }

    &.large{
        padding: .75rem 2.5rem;
    }

    &:hover{
        opacity: .8;
    }
}

.saveIcon{
    /* fallback in het geval dat initial niet werkt */
    max-width: 1rem;
    width: initial;
}